{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To Do App</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    
 <main>
    <div class="main">

        <div class="f1">
            <div class="txt">
                <p>are you sure you want to delete ["{{item}}"] ?</p>
                <a class="btn mybtn" href="/"> back</a>
                <a class="btn mybtn red" href="{% url 'okindex' item.id %}"> delete</a>
            </div>
        </div>
        
        
    </div>
</main>
</body>
</html>